<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style media="screen">
      body{
        height: 900px;
        background-color:#F0FFFF;
      }
      .postshow{
        background-color: #E6E6FA;
        margin-top: 10px;
        border: solid black 1px;
        border-radius: 5px;
        margin-right: 20px;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 style="text-align:center;">Blog App</h1>
      <hr>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#" id="userName">Hello {{name}}</a>
        <a class="navbar-brand nav navbar-nav navbar-right" href="/logout">Log out</a>
      </nav>
      <hr>
      <h2>Post</h2><br>
      <div class="postshow">
        <div style="margin: 10px;">
          <span style="font-size:20px;">{{this.name}}</span> : {{this.text}}
        </div>
      </div>
      <form class="" action="index.html" method="post">
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Type your Post here..." id="sendtext"></textarea>
          <br>
          <button type="button" class="btn btn-primary" style="width:100px;" id="postdata">Comment</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </body>
</html>
